html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

span {
  display: none;
}

.form-inputs {
  margin-bottom: 5px !important;
}

#canvasDiv {
  margin-top: 70px;
}

#myCanvas {
  outline: black 1px solid;
}
